<main class="">
  <div class="text-white bg-fda text-lg font-semibold font-roboto font-helvetica font-arial font-sans font-light leading-relaxed box-border">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
