<section class="w-screen h-screen p-4 bg-fda flex items-center justify-center">
    <a href="/auth/google">
        <div style="background: linear-gradient(60deg,#f5700c,#ff9800)" class="p-5 rounded-md text-2xl text-white font-semibold">
            Continue With Google
        </div>
    </a>
</section>